* {
  box-sizing: border-box;
}

body {
   margin: 0;
   padding: 0;
   font: 14px "Quicksand", Helvetica, Arial, sans-serif;
}

header {
   width: 100%;
   height: 75px;
   border: 1px solid #7cc576;
   background-color: #7cc576;
   color: black;
   text-align: center;
}

main {
   padding: 50px;
   /*width: 80%;*/
   margin: 0 auto;
   overflow: auto;
}

h1 {
   font-size: 3em;
   line-height: 0;
}

h2 {
   line-height: 0;
   margin-top: 0;
}

h3 {
   line-height: 0;
   margin-top: 0;
}

.restaurantSquare {
   background-color: #eee;
   border: 2px solid black;
   width: 250px;
   height: 300px;
   float: left;
   padding: 15px;
   margin: 15px;
   background-image: url("../images/mexican.png");
}

.theDeets {
   margin-top: 200px;
}

.theScore {
   float: right;
}

.showww {
   width: 500px;
   margin: 50px auto;
   padding: 25px;
   border: 2px solid black;
   background-color: #eee;

}
