extends ../layout

block content
  a(href="/restaurants/new") Add a New Restaurant
  a(href="/admin") Admin
  main
    if restaurants
      for restaurant in restaurants
        div.restaurantSquare
          a(href="/restaurants/" + restaurant.id) #{restaurant.name}
          div.theDeets
            h3 #{restaurant.cuisine}
            h3 #{restaurant.city}, #{restaurant.state}
          div.theScore
            - var rating = restaurant.rating
            - for (var x = 0; x < rating; x++)
              img(src="../images/star.png", alt="rating star") 

         
